@import url('https://googleapis.com');
.card{
    width: 320px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    margin: 2rem 5rem;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 16px 32px rgba(0,0,0.15);
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3 ease;
} 
.card:hover img{
    transform: scale(1.05);
}
.card-content {
    padding: 1.5rem;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card h2{
    font-size:1.5rem;
    color: black;
    font-family: 'Karla';
}

.card span{
    color: #F4cE14;
    font-weight: bold;
    font-family: 'Karla';
}
.card p{
    color:#555;
    line-height:1.6;
    font-family: 'Karla';
}